@using Norris.Data.Models.DTO;
@using Norris.UI.Models;
@using Norris.Data.Data.Entities;
<script src="~/js/ChatSystem.js"></script>

@model List<ChatMessageDTO>
<div class="ChatBox">
    @if(Model != null)
    {
        foreach(var item in Model)
        {
            <span>@item.TimeStamp <b>@item.Username</b></span>
            <p>@item.Message</p>
        }
    }
    <div class="ChatBoxLower">
        <input type="text" id="ChatBoxInput" placeholder="Type here..."/>
        <button onclick="SendMessage()"><b>Send</b></button>
    </div>
</div>  