@using Norris.Data.Models.DTO;
@using Norris.UI.Models;
@using Norris.Data.Data.Entities;
<link rel="stylesheet" href="~/css/chat.css" />

@model ChatPartialViewModel
<div class="panel-group" id="chat-panel-group-override" role="tablist">
    <div class="panel panel-default" id="chat-panel-override">
        <div class="panel-heading" id="chat-panel-heading-override" role="tab">
            <a href="#chat" class="" role="button" data-toggle="collapse"
               aria-expanded="true" aria-controls="chat" onclick="changeIcon('icon1')" id="nav-txt-override">
                Chat <i id="icon1" class="glyphicon glyphicon-minus" aria-hidden="true"></i>
            </a>
            </div>
        <div class="panel-collapse collapse in" role="tabpanel" id="chat" aria-labelledby="Chat" aria-expanded="true" >
            <ul class="list-group chat">
                <dl id="chat-list-group-item-override">
                  @await Html.PartialAsync("_ChatWindow", Model.ChatMessages)
                </dl>
            </ul>   
            </div>
        <div class="flex" id="chat-flex">
            <div id="chat-left">
                <input type="text" id="chat-box-input" placeholder="Type here..." onkeydown="if (event.keyCode == 13)document.getElementById('chat-send-btn').click()"/>
            </div>
            <div id="chat-right">
                <button id="chat-send-btn" onclick="SendMessage('@Model.GameID')">Send</button>
            </div>
        </div>
    </div>
</div>

