@using Microsoft.AspNetCore.Identity
@using Norris.UI.Models
@using Norris.Data.Data.Entities

<style>
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        background-color: black;
        padding: 1px;
    }

    .grid-item {
        font-size: 10px;
    }

    .white-item {
        background-color: white;
    }

    .black-item {
        background-color: gray;
    }

    .piece-image {
        width: 100%;
    }
</style>
<div class="grid-container">
    @{string c = "white-item"; }
    @for (int r = 8; ; r--)
    {
        for (int f = 1; ; f++)
        {
    <div class="grid-item @r @f @c" id="@r@f">
        <div style="position:relative;">
            <a href='@Url.Action("Index", "GameController", new { s = "hejehj"})'>
                <img style="position:absolute;" class="piece-image" src="~/images/pieces/black/rook.png" alt="rook" />
                <div>
                    <img class="piece-image" src="~/images/pieces/highlight-blue.png" alt="rook" />
                </div>
            </a>
        </div>
        
    </div>
            if (f == 8) { break; }
            if (c == "white-item")
            {
                c = "black-item";
            }
            else
            {
                c = "white-item";
            }
        }
        if (r == 1) { break; }
    }
</div>
