@using Norris.Data.Data.Entities
@using Norris.Data.Models

@model List<User>

    <div>
        <div class="friends">
            Friends
            <ul class="list-group">
                <li class="list-group-item">Online</li>
                
                @if (Model.Any())
                {
                    foreach (var user in Model)
                    {
                        <li class="list-group-item"> @user.UserName </li>
                        
                    }
                }
                else
                {
                    //no friends
                }
            </ul>
        </div>
        <ul class="list-group friends">
            <li class="list-group-item">Offline</li>
            @if (Model.Any())
            {
                
                foreach (var user in Model)
                {
                    <li class="list-group-item disabled">@user.UserName</li>
                }
            }
            else
            {
                //no friends
            }
        </ul>
    </div>