@using Microsoft.AspNetCore.Identity
@using Norris.UI.Models
@using Norris.Data.Data.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-area="" asp-controller="Home" asp-action="FindFriends" id="right-nav-style">Find Friends</a></li>
            <li><a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" id="right-nav-style">@UserManager.GetUserName(User) </a></li>
            <li><a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage"><img src="~/images/profile3.png" width="30" height="30" style="margin-left:-20px;" id="account-img" /></a></li>
        </ul>
    </form>
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li><a asp-area="" asp-controller="Account" asp-action="Login" id="nav-txt-override">Log in</a></li>
</ul>
}
