@using Norris.Data.Data.Entities
@using System.Collections.Generic
@model IEnumerable<User>


@if (Model.Any())
{
    @foreach (var user in Model)
    {
      <div onclick='createGame("@user.Id")' class="playGame">
        <li class="list-group-item playGame" id="list-group-item-override">
            <div class="flex" id="friends-flex">
                <div class="friends-left">
                    @user.UserName
                </div>           
                <div class="friends-right">
                    <div class="flex" id="friends-right-flex">
                        <div class="friends-right-left">
                            New game
                        </div>
                        <div class="friends-right-right">
                            <i class="glyphicon glyphicon-plus" id="newGameBtn"></i>
                        </div>
                    </div>
                </div>
            </div>
        </li>
      </div>
    }
}
else
{
    <li class="list-group-item" id="list-group-item-override">No active friends</li>
}