@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Identity
@using Norris.UI.Models
@using Norris.Data.Data.Entities

<h2>Profile</h2>
@inject UserManager<User> UserManager

<div>
    <h4>Welcome @UserManager.GetUserName(User)!</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

