@using Norris.Data.Models.DTO;

<environment include="Development">
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>

@{
    ViewData["Title"] = "Find Friends";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
  <div class="col-sm-8">
    <p>Here you can search for your friends to add to your list.</p>

<input type="text" placeholder="Search user" id="searchBox" onkeyup="searchUsers(this.value)" />

    <span id="searchResults"></span>
    </div>
    <div class="col-sm-3" id="sidebar">
    </div>
</div>