@using Norris.Data.Models.DTO;
@model FriendsPartialViewModel
@{
    ViewData["Title"] = "Find friends";
}

<environment include="Development">
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>

<div class="row" id="siteGrid">
    <div class="col-lg-1"></div>

    <div class="col-lg-7">
        <div class="panel panel-default" id="panel-override">
            <div class="panel-heading" id="panel-heading-override">
                <span id="findFriends">Find Friends</span>
            </div>
            <div class="panel-body" id="panel-body-override">
                Start typing in the box below to search for new friends to add to your friendlist.
                <input type="text" placeholder="Search user" id="searchBox" onkeyup="searchUsers(this.value)" />
                <span id="searchResults"></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3" id="sidebar">@await Html.PartialAsync("_FriendsPartial", Model)</div>
    <div class="col-lg-1"></div>
</div>