@using Norris.Data.Data.Entities
@using Norris.Data.Models
@model LobbyAndFriendsViewModel




<div class="row" id="siteGrid">
    <div class="col-lg-1"></div>
    <div class="col-sm-9 col-lg-7">
        @{
            ViewData["Title"] = "Lobby";
        }

        <div class="panel panel-default" id="panel-override">
            <div class="panel-heading" id="panel-heading-override">
                <span id="nav-txt-override">@ViewData["Title"]</span>
            </div>
            <div class="panel-body" id="panel-body-override">
                <div class="table-responsive">
                    <table class="table" id="table-override">


                          @await Html.PartialAsync("_LobbyPartial", Model)
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-lg-3" id="sidebar">@await Html.PartialAsync("_FriendsPartial", Model.Friends)</div>
    <div class="col-lg-1"></div>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/lobby.js" asp-append-version="true"></script>