@using Norris.Data.Data.Entities;
@model List<User>

<environment include="Development">
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>

@{
    ViewData["Title"] = "SearchResults";
}

<div class="table-responsive">
    <table class="table" id="table-override">
        @foreach (var item in Model)
        {
            <tr id="@item.Id" class="tRow">
                <td class="col-sm-9" id="tCell">@item.UserName</td>
                <td class="col-sm-3" id="tCell">
                    <button class="addFriendBtn" onclick="addUser('@item.Id')"><b>+</b> Add user</button>
                </td>
            </tr>
        }
    </table>
</div>