@using Norris.Data.Data.Entities;
@model List<User>
@{
    ViewData["Title"] = "SearchResults";
}

    <table class="table table-bordered table-striped">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td><button class="btn btn-success btn-sm btn-block" type="submit">Add friend</button></td>
            </tr>
        }
    </table>

