@using Norris.Data.Data.Entities;
@model List<User>
@{
    ViewData["Title"] = "SearchResults";
}

<div class="table-responsive">
    <table class="table table-bordered">
        @foreach (var item in Model)
        {
            <tr id="@item.Id">
                <td class="col-sm-9">@item.UserName</td>
                <td class="col-sm-3">
                    <button class="btn btn-success btn-sm btn-block" onclick="addUser('@item.Id')"><b>+</b> Add user</button>
                </td>
            </tr>
        }
    </table>
</div>