@using Norris.Data.Data.Entities;
@model List<User>
@{
    ViewData["Title"] = "SearchResults";
}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-sm-9">@item.UserName</td>
                <td class="col-sm-3"><a href="@Url.Action("AddFriend","Home", item.Id)" class="btn btn-success btn-sm btn-block">
                    <b>+ </b>Add friend</a>
                </td>
            </tr>
        }
    </table>
</div>

