body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #282c37;
}

* {
    box-sizing: border-box;
}

footer {
    color: var(--text-hover);
}
hr.footer {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/*Global variables for colors.*/
:root {
    --nav-text-color: #e3e3e3;
    --heading-color: #e3e3e3;
    --nav-text-color-rgb: 40, 44, 55;
    --text-hover: white;
    --list-disabled-bg-color: #9baec8;
    --list-bg-color: #d9e1e8;
    --nav-bg-color: #2b79d9;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
.friends{
    
}

.playGameBtn {
    position: absolute;
    right: 5px;
    top: 5px;
}

h1 {
    color: var(--heading-color);
}
h2 {
    color: var(--heading-color);
}
h3 {
    color: var(--heading-color);
}
h4 {
    color: var(--heading-color);
}
p{
    color:var(--heading-color);
}

tr {
    background-color: var(--list-bg-color);
}
#panel-override{
    border:none;
}

#panel-group-override{
    margin-bottom:0px;
    border:none;
}

#panel-heading-override{
    background-color:var(--nav-bg-color);
    border:none;
}

#list-group-override{
    border:none;
}

#list-group-item-override{
    background-color:var(--list-bg-color);
    border:none;
}

#list-group-item-disabled-override{
    background-color:var(--list-disabled-bg-color);
    border:none;
}

#nav-override {
    background-color: var(--nav-bg-color);
    border: none;
}

#nav-txt-override {
    color: var(--nav-text-color);
    text-decoration:none;
}

#nav-txt-override:hover {
    /*color: rgba(var(--nav-text-color-rgb), 0.5);*/
    color:var(--text-hover);
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
