body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #282c37;
}

* {
    box-sizing: border-box;
}

footer {
    color: var(--text-hover);
}
hr.footer {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/*Global variables for colors.*/
:root {
    --nav-text-color: #e3e3e3;
    --heading-color: #e3e3e3;
    --content-text-color: black;
    --nav-text-color-rgb: 40, 44, 55;
    --text-hover: white;
    --list-disabled-bg-color: #c0c6cc;
    --list-bg-color: #d9e1e8;
    --list-hover-color: #ebf3fa;
    --list-disabled-hover-color: #d9e1e8;
    --nav-bg-color: #2b79d9;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
.friends{
    
}
#siteGrid{
    padding-top:30px;
    padding-left: 15px;
    padding-right: 15px
}

#searchBox {
    width: 100%;
    padding: 8px 12px;
    margin-top:5px;
    margin-bottom:0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    /*background-color:var(--list-bg-color);*/
}
.searchRow{
    background-color: white;
    border:none;
}
#tCell{
    border:none;
}

#searchTable{
    margin-bottom:0px;
}

a.playGame {
    text-decoration: none;
    color: var(--content-text-color);
}
.playGame:hover{
    cursor:pointer;
}
 

.list-group-item.playGame#list-group-item-override:hover{
    background-color:var(--list-hover-color);
}
.list-group-item.playGame#list-group-item-disabled-override:hover {
    background-color: var(--list-disabled-hover-color);
}

.list-group-item.playGame#list-group-item-disabled-override:hover .friends-right{
    color: var(--nav-bg-color);
}
.list-group-item.playGame#list-group-item-override:hover .friends-right {
    color: var(--nav-bg-color);
}
.list-group-item.playGame#list-group-item-disabled-override:hover #newGameBtn {
    color: var(--nav-bg-color);
}

.list-group-item.playGame#list-group-item-disabled-override:hover .playGameRight{
    
}
.list-group-item.playGame#list-group-item-override:hover .playGameRight {
    
}


.yTurn{
    color:var(--nav-bg-color);
    font-weight:bold;
}

.oTurn {
    color: gray;
}

.flex {
    display: flex;
}

.friends-right {
    flex: 0 0 97px;
    
}
#newGameBtn {
    color: #383838;
    font-size:85%;
}

.friends-left {
    flex: 1;
}

.games-right {
    flex: 0 0 97px;
}

.games-left {
    flex:1;
}
.activeGame#list-group-item-override {
    background-color: var(--list-hover-color);
}

#sidebar{
    margin-bottom:30px;
}
#game{
    margin-bottom:10px;
}
h1 {
    color: var(--heading-color);
}

h2 {
    color: var(--heading-color);
}

h3 {
    color: var(--heading-color);
}

h4 {
    color: var(--heading-color);
}

p{
    color:var(--heading-color);
}

tr {
    background-color: var(--list-bg-color);
}

#gameInfoRight {
    text-align: right;
    color: var(--nav-text-color);
}
#gameInfoLeft {
    color: var(--nav-text-color);
}
#gameInfoBottom{
    color:black;
}

#findFriends{
    color: var(--nav-text-color);
}

#panel-override{
    border:none;
    background-color:none;
    border-radius:0;
}

#panel-group-override{
    margin-bottom:0px;
    border:none;
    background-color:none;
}

#panel-heading-override {
    background-color: var(--nav-bg-color);
    border: none;
    border-radius: 0;
}
#panel-body-override {
    border: none;
    padding: 10px;
    background-color: var(--list-bg-color);
    border-radius: 0;
}

#list-group-override {
    background-color: none;
    border: none;
}

#list-group-item-override {
    color: var(--content-text-color);
    background-color: var(--list-bg-color);
    border: none;
    border-radius: 0;
}

#list-group-item-disabled-override {
    background-color: var(--list-disabled-bg-color);
    border: none;
    border-radius: 0;
}

#nav-override {
    background-color: var(--nav-bg-color);
    border: none;
}

#nav-txt-override {
    color: var(--nav-text-color);
    text-decoration:none;
}

#nav-txt-override:hover {
    /*color: rgba(var(--nav-text-color-rgb), 0.5);*/
    color:var(--text-hover);
}

#labelStyling {
    
}

#title {
    color: var(--nav-text-color);
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.board-hover-highlight{
  display: none;
}

.board-hover-highlight:hover{
  display: inline-block;
  cursor: pointer;
}

.piece:hover~.board-hover-highlight{
  cursor: pointer;
  display: inline-block;
}

.game-tutorial{
  padding-top: 0;
  margin-top: -20px;
}