body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #282c37;
}

* {
    box-sizing: border-box;
}

hr.footer {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/*Global variables for colors.*/
:root {
    --nav-text-color: #e3e3e3;
    --heading-color: #e3e3e3;
    --content-text-color: black;
    --text-hover: white;
    --list-disabled-bg-color: #c0c6cc;
    --list-hover-color: #ebf3fa;
    --list-disabled-hover-color: #d9e1e8;
    --btn-bg-color: #256bc2;
    --btn-bg-hover: #398aed;

    /*Main colors*/
    --list-heading-bg-color: #2b79d9;
    --list-bg-color: #d9e1e8;
    --nav-bg-color: #2b79d9;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
.friends{
    
}
#siteGrid{
    padding-top:30px;
    padding-left: 15px;
    padding-right: 15px
}

#searchBox {
    width: 100%;
    padding: 8px 12px;
    margin-top:5px;
    margin-bottom:0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    /*background-color:var(--list-bg-color);*/
}
.tRow{
    background-color: white;
    border:none;
}
#tCell{
    border:none;
}
.cell{
    padding:0;
    padding-right:4px;
    height:100%;
    vertical-align:middle;
}
#tHead{
    background-color:white;
}

a.playGame {
    text-decoration: none;
    color: var(--content-text-color);
}

.yTurn{
    color:var(--list-heading-bg-color);
    font-weight:bold;
}

.oTurn {
    color: gray;
}

.yWon {
    color: var(--nav-bg-color);
    font-weight: bold;
}

.oWon {
    color: gray;
}


.flex {
    display: flex;
}

#newGameBtn {
    color: #383838;
    font-size:85%;
}

.friends-right {
    flex: 0 0 97px;
    
}

.friends-left {
    flex: 1;
}

.friends-right-left{
    flex: 1;
}

.friends-right-right{
    flex: 0 0 15px;
}

.games-right {
    flex: 0 0 97px;
}

.games-left {
    flex:1;
}

.active-left{
  font-size: 20px;
}

.active-right {
    font-size: 20px;
}
.games-image {
    height: 16px;
}
.active-left-image {
    height: 22px;
}

.activeGame#list-group-item-override {
    background-color: var(--list-hover-color);
    padding-top: 12px;
    padding-bottom: 12px;
    border-left: solid 5px var(--nav-bg-color);
}


#sidebar{
    margin-bottom:30px;
}
#game{
    margin-bottom:10px;
}

.FPheadingRight {
    flex: 0 0 15px;
}

.FPheadingLeft {
    flex: 1;
}
.chatHeadingRight {
    flex: 0 0 15px;
}

.chatHeadingLeft {
    flex: 1;
}
h1 {
    color: var(--heading-color);
}

h2 {
    color: var(--heading-color);
}

h3 {
    color: var(--heading-color);
}

h4 {
    color: var(--heading-color);
}

tr {
    background-color: var(--list-bg-color);
}

#gameInfoRight {
    text-align: right;
    color: var(--nav-text-color);
}

#gameInfoLeft {
    color: var(--nav-text-color);
}

#gameInfoBottom{
    color:black;
}

#findFriends{
    color: var(--nav-text-color);
}

#title {
    color: var(--nav-text-color);
}

.lobbyJoinBtn {
    background-color: var(--btn-bg-hover);
    width: 100%;
    height: 100%;
    padding:5px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.lobbyJoinGameBtn {
    background-color: var(--btn-bg-color);
    width: 100%;
    height: 100%;
    padding: 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.addFriendBtn{
    background-color: var(--btn-bg-color);
    width: 100%;
    height: 100%;
    padding: 5px;
    border: none;
    color:white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

a .lobbyJoinBtn{
    color:white;
    text-decoration:none;
}
a .lobbyLeaveBtn {
    color: white;
    text-decoration: none;
}
a .lobbyJoinGameBtn{
    color:white;
    text-decoration:none;
}

.lobbyJoinBtn:hover {
    background-color:var(--btn-bg-color);
}
.lobbyJoinGameBtn:hover {
    background-color: var(--btn-bg-hover);
}
.lobbyLeaveBtn:hover {
    background-color: var(--btn-bg-color);
}
.addFriendBtn:hover {
    background-color: var(--btn-bg-hover);
}

.lobbyLeaveBtn {
    background-color: var(--btn-bg-hover);
    width: 100%;
    height: 100%;
    padding: 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

/*-----------------------------------------------------------------------HOVER EFFECTS--------------*/
.playGame:hover {
    cursor: pointer;
}
 
.list-group-item.playGame#list-group-item-override:hover {
    background-color: var(--list-hover-color);
}

.list-group-item.playGame#list-group-item-disabled-override:hover {
    background-color: var(--list-disabled-hover-color);
}

.list-group-item.playGame#list-group-item-disabled-override:hover .friends-right {
    color: var(--list-heading-bg-color);
}

.list-group-item.playGame#list-group-item-override:hover .friends-right {
    color: var(--list-heading-bg-color);
}

.list-group-item.playGame#list-group-item-disabled-override:hover #newGameBtn {
    color: var(--list-heading-bg-color);
}

#nav-txt-override:hover {
    color: var(--text-hover);
}


/*-----------------------------------------------------------------------BOOTSTRAP OVERRIDES--------*/
#panel-override{
    border:none;
    background-color:none;
    border-radius:0;
}

#panel-group-override{
    margin-bottom:0px;
    border:none;
    background-color:none;
}

#panel-heading-override {
    background-color: var(--list-heading-bg-color);
    border: none;
    border-radius: 0;
}
#panel-body-override {
    border: none;
    padding: 10px;
    background-color: var(--list-bg-color);
    border-radius: 0;
}

#list-group-override {
    background-color: none;
    border: none;
}

#list-group-item-override {
    color: var(--content-text-color);
    background-color: var(--list-bg-color);
    border: none;
    border-radius: 0;
}

#list-group-item-disabled-override {
    background-color: var(--list-disabled-bg-color);
    border: none;
    border-radius: 0;
}

#nav-override {
    background-color: var(--nav-bg-color);
    border: none;
}

#nav-txt-override {
    color: var(--nav-text-color);
    text-decoration:none;
}

.activeGame#list-group-item-override {
    background-color: var(--list-hover-color);
}

#table-override {
    margin-bottom: 0px;
}

#thead-override {
    border: none;
}


#logo {
    margin-top:5px;
    margin-bottom:5px;
    margin-left:-5px;
    width:70px;
    height:50px;
}

#right-nav-style {
    color: var(--nav-text-color);
    text-decoration: none;
    font-size:150%;
    margin-top:5px;
}

#brand-name {
    color:white;
    text-decoration:none;
    font-size:24px;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
    #account-img{
        display:none;
    }
    #brand-name {
        font-size: 17px;
    }
    #logo {
        width: 60px;
        height: 40px;
    }
}

.board-hover-highlight{
  display: none;
}

.board-hover-highlight:hover{
  display: inline-block;
  cursor: pointer;
}

.piece:hover~.board-hover-highlight{
  cursor: pointer;
  display: inline-block;
}

.game-tutorial{
  padding-top: 0;
}

#banner{
  margin-bottom:0px;
}

#banner2{
  margin-bottom: 0px;
  display: none;
}

#profile-lbl {
    color: #337ab7;
}